body{
    font-family:sans-serif;
    background-color: #eceef1;
    color: #404040;

}


.signup{
    border: 1px solid;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background: white;
    border-radius: 2px;
    padding: 20px;
    margin-left: 180x;
    width: 600px;
    color: grey;
}
#signupForm{
    font-size: 20px;
    font-weight: normal;
    color: #404040;
    line-height: 25px;
    padding-bottom: 6px;
    padding: 0;
    margin: 0;
    outline: none;
    
}
input{
    width: 410px;
    height: 34px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    border: 1px solid #C1C5C8;
    color: black;
    outline: none;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: 1.2em ;
}
#p1{
    font-size: 40px;
    text-align:center;

}
#p2{
    font-size: 20px;
    text-align: center;
}
#p3{
    font-size: 15px;
}
#lock{
    
    height:1em;
    width: 1em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-size: contain;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background-color:transparent;

}
.sub{
    background: #0077c5;
    width: 360px;
    height: 40px;
    border: none;
    border-color:#0077c5;
    border-radius: 4px;
    font-size: 20px;
    margin: auto;
    

}
#create{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: rgb(255, 255, 255);
    text-align: center;
}
.signin{
    float: left;
    position: relative;
    text-align: right;
    padding: 0;
    outline: none;
    box-sizing: border-box;

}
#btn1{
    width: fit-content;
    
    
}
.button1{
    text-align: left;
    display: inline-block;
}
.rght{
    float: right;
    
}
    