body{
    font-family:sans-serif;
    background-color: #eceef1;
    color: #404040;

}


.signup{
    border: 1px solid;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    background: white;
    border-radius: 2px;
    padding: 20px;
    margin-left: 180x;
    width: 450px;
    color: grey;
    height: 800px;
}
#signupForm{
    font-size: 20px;
    font-weight: normal;
    color: #404040;
    line-height: 25px;
    padding-bottom: 16px;
    margin-top:25px ;
    outline: none;
    width: 450px;
    
}
#terms{
    font-size: 12px;
    font-style: italic;
    color: grey;
    line-height: 20px;
    text-align: center;
    padding-top: 40px;
}
input{
    width: 410px;
    height: 34px;
    min-width: 160px;
    padding-left: 8px;
    padding-right: 6px;
    margin-bottom: 20px;
    border: 1px solid #C1C5C8;
    color: black;
    outline: none;
    border-radius: 3px;
    line-height: 1.3em;
    font-size: 1.2em ;
}
#footer1{
    background-color: #eceef1;
    color: #8D9096;
	height: 50px;
	font-size: 10px;
	text-align: center;
	justify-content: center;
	line-height: 50px;
    align-content: center;
    margin-top:90px ;

}
#logo{
    width: 400px;
	display: block;
    margin-bottom: 14px;
    height: 150px;
    align-content: center;
    margin-left: 700px;
    padding-top: 150px;
}
#footer{
    color: #505050;
    font-size: 12px;
    margin-bottom: 15px;
}

#footerlinks {
	display: flex;
	flex-direction: row;
	text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}
.footer-a:hover {
    color: black;
    text-decoration: underline;
}
#footercopyright {
    text-align: center;
    line-height: 18px;
}
li {
    padding-left: 5px;
    padding-right: 5px;
}
#p1{
    font-size: 40px;
    text-align:center;

}
#p2{
    font-size: 20px;
    text-align: center;
}
#p3{
    font-size: 15px;
    padding-top: -20px;
}
#lock{
    
    height:1em;
    width: 1em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-size: contain;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    background-color:transparent;

}
.sub{
    background: #0077c5;
    width: 426px;
    height: 60px;
    border: none;
    border-color:#0077c5;
    border-radius: 4px;
    font-size: 20px;
    margin: auto;
    

}
#create{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: rgb(255, 255, 255);
    text-align: center;
}
.signin{
    float: left;
    position: relative;
    text-align: right;
    padding-right: 10px;
    padding-top: 0;
    margin-top: 0;
    outline: none;
    box-sizing: border-box;


}
#btn1{
    width: 150px;
    height: 40px;

    
    
}
.button1{
    text-align: left;
    display: inline-block;
}
.rght{
    float: right;
    margin-right: 20px;
    
}
    